.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination button {
  background-color: #ef3d32;
  color: white;
  padding: 5px 12px;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #4e4e4e;
  color: white;
}
